/* Vos customisations des classes de Bootstrap */

#home{
    padding:20px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: top;
}


/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
